<div class="header">
    <table>
        <thead>
            <tr><th>Имя продукции</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrNew; let i = index">
                <a (click)="getInfo(item.ProductId)">{{item.ProductId}}  {{item.ProductDescription}}</a> 
            </tr>
        </tbody>
    </table>
</div>
<div class="button">
    <button (click)="previous()" class="previous" *ngIf="btnPreShow">Назад</button>    
    <button (click)="next()" class="next" *ngIf="btnNextShow">Вперед</button>    
</div>
<div class="footer">
        <table *ngIf="hide">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ColorIdx</th>
                    <th>ProductCode</th>
                    <th>ProductDescription</th>
                    <th>Price</th>
                    <th>VoDatum</th>
                    <th>IsHeavy</th>
                    <th>RestrictedLands</th>
                    <th>IsFsk</th>
                    <th>IsOrdergruppeC</th>    
                </tr>
            </thead>
            <tbody>
                <tr><td  *ngFor="let item of product">{{item}}</td></tr>
            </tbody>
        </table>
</div>